<section id="person_center_box" class="container home">
<div class="col-md-9">
	<div class="flat myhz-course">
		<h3>
			363491275的在学课程 <a href="#" class="active">已收藏课程 </a> <a
				href="#">最近浏览</a>
		</h3>
		<div class="course phPublic-course">
			<div class="section-body">
				<div class="row">

					<div class="col-md-4 col-sm-6">
						<div class="course-item">
							<div class="course-img">
								<a href="#"> <img
									src="http://f1.howzhi.com/default/2015/11-28/214757de66ac999818.jpg"
									class="img-responsive"> <span
									class="load" style="width:0%"></span>
									<div class="image-overlay"></div>
								</a>
							</div>
							<div class="course-info">
								<div class="title">
									<span class="label label-p">国内大学</span> <a class="transition"
										href="#">吉林农业大学：走进多彩的菌物世界</a>
								</div>
								<div class="teacher">
									<a class=" js-user-card" href="#">
										<img class="avatar-ss "
										src="http://f1.howzhi.com/avatar/2013/07-17/2157575ae0aa528052.jpg"
										　alt="苏醒归来">
									</a> <a class="link-light " href="#">苏醒归来</a>
									<a style="width:120px;text-align: right;display: block;float: right;">取消收藏</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<aside class="col-md-3">
	<div class="person-count">
		<ul class="clearfix">
			<li><a class="count" href="#">1</a><span>课程</span></li>
			<li class="line"></li>
			<li><a class="count" href="#">1</a><span>笔记</span></li>
			<li class="line"></li>
			<li><a class="count" href="#">0</a><span>回答</span></li>
		</ul>
	</div>


	<div class="person-info flat">
		<ul>
			<li><span class="first">昵称：</span><span>363491275</span></li>
			<li><span class="first">性别：</span>1</li>
			<li><span class="first">QQ：</span><span></span></li>
			<li><span class="first">简介：</span><span class="content"></span></li>
		</ul>
	</div>


	<div class="flat person-visitor">
		<h3>
			最新来访<span class="count"></span>
		</h3>
		<div class="empty">暂无访客！</div>
	</div>
</aside>
</section>