@charset "UTF-8";
.date-ctrl li, .kw-outer, .main-left, .rs-outer, .sort-nav-order dd, .sort-nav-order dt {
	float:left
}
.filter_dropdown .dropdown-title {
	display:inline-block;
	vertical-align:middle
}
.course-card .course-emphasis .course-score, .mod-course-card__teacher {
	vertical-align:baseline
}
.datepicker {
	display:none;
	position:absolute;
	z-index:200;
	margin-left:-1px;
	border:1px solid #afafaf;
	width:249px;
	height:272px;
	overflow:hidden;
	background:#fff;
	font-size:14px
}
.datepicker-days {
	position:relative;
	width:238px;
	height:268px;
	margin:7px auto 1px
}
.datepicker-days table {
	position:relative;
	z-index:10
}
.datepicker-days .datepicker-days-bg {
	position:absolute;
	right:-2px;
	bottom:-10px;
	font-size:160px;
	line-height:1;
	z-index:9;
	opacity:.1;
	filter:alpha(opacity=10)
}
.datepicker-days th {
	text-align:center;
	width:34px;
	height:24px;
	line-height:24px;
	color:#333
}
.datepicker-days .switch {
	width:165px;
	font-weight:bolder
}
.datepicker-days td {
	text-align:center;
	width:34px;
	height:34px;
	line-height:34px;
	color:#333
}
.datepicker-days .lastYear b, .datepicker-days .next b, .datepicker-days .nextYear b, .datepicker-days .prev b {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.datepicker-days .lastYear i, .datepicker-days .next i, .datepicker-days .nextYear i, .datepicker-days .prev i {
	position:absolute;
	top:-13px;
	font-size:40px;
	line-height:1;
	color:#999;
	cursor:pointer
}
.datepicker-days .lastYear i, .datepicker-days .prev i {
	left:10px
}
.datepicker-days .next i, .datepicker-days .nextYear i {
	right:10px
}
.datepicker-days .lastYear i, .datepicker-days .nextYear i {
	font-size:30px;
	top:-6px
}
.datepicker-days .lastYear:hover i, .datepicker-days .next:hover i, .datepicker-days .nextYear:hover i, .datepicker-days .prev:hover i {
	color:#68b30f
}
.datepicker-days .lastYear.disabled i, .datepicker-days .next.disabled i, .datepicker-days .nextYear.disabled i, .datepicker-days .prev.disabled i {
	color:#a0a0a0
}
.datepicker-days th.dow {
	border-bottom:1px solid #e3e3e3;
	height:34px;
	line-height:34px
}
.datepicker-days th.dow0, .datepicker-days th.dow6 {
	color:#e75407
}
.datepicker-days td.new, .datepicker-days td.old {
	visibility:hidden
}
.datepicker-days .day {
	cursor:pointer
}
.datepicker-days .disabled {
	color:#a0a0a0;
	cursor:default
}
.datepicker-days .day:hover {
	color:#fff;
	background:#68b30f
}
.datepicker-days .disabled:hover {
	color:#a0a0a0;
	background:0 0
}
.datepicker-days .active, .datepicker-days .active:hover {
	color:#fff;
	background:#68b30f
}
.datepicker-days .tr-view div {
	position:relative;
	width:100%;
	height:100%
}
.datepicker-days .tr-view .day-today {
	font-size:12px
}
.datepicker-days .tr-view div i {
	display:block;
	width:24px;
	height:24px;
	line-height:24px;
	border-radius:12px;
	position:absolute;
	left:5px;
	top:5px;
	z-index:10;
	overflow:hidden;
	color:#333
}
.datepicker-days .tr-view .not_allow i, .datepicker-days .tr-view .pass i {
	color:#a0a0a0
}
.datepicker-days .tr-view div b, .datepicker-days .tr-view div u {
	width:17px;
	height:24px;
	position:absolute;
	left:0;
	top:5px;
	background:#68b30f;
	display:none
}
.datepicker-days .tr-view .view-day-b u, .datepicker-days .tr-view .view-day-e b, .datepicker-days .tr-view .view-day-m b, .datepicker-days .tr-view .view-day-m u, .sort-menu .curr label {
	display:block
}
.datepicker-days .tr-view div u {
	left:auto;
	right:0
}
.datepicker-days .tr-view .active {
	background:0 0;
	color:#333
}
.datepicker-days .tr-view .date-view i {
	background:#68b30f;
	color:#fff
}
.sort-nav-big {
	padding-top:18px;
	border:1px solid #d9d9d9;
	position:relative
}
.sort-nav-big .sort-nav-order {
	line-height:21px;
	padding-bottom:15px
}
.sort-nav-sml {
	height:30px;
	background:#f7f7f7
}
.sort-nav-order {
	overflow:hidden;
	font-size:14px
}
.sort-nav-order dt {
	width:64px;
	text-align:center;
	padding-left:10px;
	color:#999
}
.sort-nav-order dd a {
	position:relative;
	padding:0 12px;
	margin:0 10px;
	color:#333;
	height:19px;
	line-height:19px;
	border:1px solid transparent;
	float:left
}
.sort-nav-order dd a:hover {
	color:#039ae3
}
.sort-nav-order dd .cur {
	color:#039ae3;
	border-color:#039ae3
}
.sort-nav-order dd .cur:hover {
	color:#039ae3!important
}
.sort-nav-order dd .cur .icon-font {
	color:#fff;
	position:absolute;
	right:9px;
	font-size:14px;
	top:13px
}
.sub-sort {
	padding-left:74px
}
.sub-sort dd a {
	color:#666
}
.sort-nav-sml .sort-nav-order {
	overflow:inherit
}
.sort-nav-sml {
	border-top:1px solid #eee;
	position:relative;
	z-index:1
}
.sort-nav-sml dd .cur {
	background-color:#049fe4;
	color:#fff
}
.sort-nav-sml dd .cur:hover {
	color:#fff!important
}
.price-item {
	padding-right:26px!important
}
.sort-nav-sml dd a {
	height:38px;
	line-height:38px;
	padding:0 18px;
	margin:0;
	border:none;
	border-top:1px solid transparent;
	position:relative;
	top:-1px
}
.course-list {
	margin-bottom:10px;
	min-height:400px;
	height:auto!important;
	height:400px
}
.result-bar {
	padding-bottom:20px
}
.kw-outer {
	border:1px dotted #e85308;
	height:23px;
	line-height:23px;
	padding:0 26px 0 8px;
	position:relative
}
.rs-outer {
	height:25px;
	line-height:25px;
	margin-left:20px
}
.btn-clear {
	top:7px;
	right:8px;
	height:10px;
	width:11px;
	position:absolute;
	font-size:0;
	background:url('http://9.url.cn/edu/img/bg/search-clear.edca8.png') no-repeat
}
.bold, .course-title em {
	color:#e85308;
	font-style:normal
}
.rec-title {
	font-size:18px;
	margin-bottom:16px
}
.ipt {
	height:22px;
	width:66px;
	font-size:12px;
	padding:2px 53px 2px 4px;
	line-height:22px;
	margin-top:2px;
	border:1px solid #dedede
}
.ipt:hover {
	border-color:#9a9a9a
}
.field-name {
	padding:0 10px;
	line-height:30px;
	margin-left:10px
}
.field-end, .field-start {
	font-size:0;
	width:121px
}
.field-end .clear-btn, .field-start .clear-btn {
	display:none;
	width:16px;
	height:16px!important;
	position:absolute;
	right:30px;
	top:7px;
	margin:0;
	padding:0;
	background:url('http://9.url.cn/edu/img/bg/ico-clear.7e8f9.png') no-repeat
}
.field-end .clear-btn:hover, .field-start .clear-btn:hover {
	background:url('http://9.url.cn/edu/img/bg/ico-clear-hover.b1794.png') no-repeat
}
.field-end .clear-btn:active, .field-start .clear-btn:active {
	background:url('http://9.url.cn/edu/img/bg/ico-clear-active.d570e.png') no-repeat
}
.field-diff {
	padding:0 8px;
	line-height:30px
}
.sp-line {
	margin-left:84px;
	position:absolute;
	top:48px;
	left:0;
	width:1091px;
	border-top:1px solid #f5f5f5;
	height:0
}
.date-ctrl li {
	height:30px;
	position:relative
}
.tri {
	position:absolute;
	right:8px;
	top:12px;
	width:0;
	height:0;
	border:5px solid;
	border-color:#e9e9e9 #fff #fff
}
.filter_dropdown {
	height:22px;
	line-height:22px;
	font-size:12px;
	background-color:#fff;
	padding:2px 12px 2px 4px;
	margin:2px 20px 0;
	border:1px solid #dedede;
	width:64px
}
.filter_dropdown:hover {
	border-color:#9a9a9a
}
.filter_dropdown .dropdown-title {
	height:28px
}
.filter_dropdown .dropdown-arrow {
	top:10px;
	right:5px;
	border-width:5px
}
.filter_dropdown .filter-option {
	cursor:pointer;
	width:60px
}
.filter_dropdown .dropdown-panel {
	top:27px;
	right:-1px;
	border-radius:0;
	box-shadow:none;
	padding:0;
	border:1px solid #dedede;
	border-top:none
}
.filter_dropdown .test {
	color:#fff
}
.course-list {
	margin-top:14px
}
.main {
	min-height:600px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:60px;
	overflow:auto;
	zoom:1
}
.main-left {
	width:928px
}
.main-right {
	width:240px;
	border:0 solid #ececec;
	float:right;
	padding:10px 0;
	background-color:#f7f8f9;
	margin-bottom:60px
}
.main-right-top {
	font-size:16px;
	height:36px;
	line-height:32px;
	border-bottom:1px solid #dfdee0;
	margin:0 10px
}
.main-right-list {
	padding-top:20px
}
.main-right-list li {
	padding-bottom:24px
}
.main-below {
	clear:left;
	background-color:#fbfbfb;
	height:297px
}
.main-below-con {
	width:1200px;
	margin:0 auto;
	padding-top:30px
}
.main-below-top {
	height:39px;
	font-size:16px
}
.main-below-list {
	width:1230px;
	margin-left:-9px;
	height:198px;
	overflow:hidden
}
.main-below-list li {
	float:left;
	margin-right:10px
}
.sort-menu-con {
	margin-bottom:21px;
	border:1px solid #eee
}
.sort-menu-border1 {
	position:relative;
	z-index:1;
	overflow:hidden;
	line-height:48px;
	background-color:#D3F7CE;
}
.sort-menu-border2 {
	padding-bottom:0
}
.sort-menu-border3 {
	margin-top:0;
	line-height:42px;
	clear:both;
	overflow:auto!important;
	zoom:1
}
.sort-menu1, .sort-menu1 dl {
	line-height:48px
}
.gap_too_short {
	height:10px
}
.sp-line1, .sp-line2 {
	bottom:1px;
	height:0;
	position:relative
}
.sp-line1 {
	margin-left:0;
	border-top:1px solid #e6e6e6;
	width:100%;
	z-index:2
}
.sp-line2 {
	border-top:1px solid #eee;
	margin:0 16px
}
.sort-menu a, .sort-menu dd, .sort-menu dl, .sort-menu dt {
	font-size:14px
}
.sort-menu dt {
	width:95px;
	padding-left:18px
}
.sort-menu dd, .sort-menu dt {
	float:left;
	position:relative;
	z-index:1
}
.sort-menu .curr {
	position:relative;
	z-index:3
}
.sort-menu a {
	display:inline-block;
	margin:0px 10px;
	padding:5px 25px;
	color:#333
}
.sort-menu1, .sort-menu1 dl, .sort-menu2 {
	padding-left:80px
}
.sort-menu a:hover {
	color:#0d8ee4
}
.sort-menu a:active {
	color:#333
}
.sort-menu .curr a, .sort-menu .curr a:active, .sort-menu .curr a:hover, .sort-menu .curr_all a, .sort-menu .curr_all a:active, .sort-menu .curr_all a:hover {
	color:#0d8ee4
}
.sort-menu1 {
	background-color:#A5E4EA;
	overflow:hidden
}
.sort-menu1 dt {
	color:#949494;
	margin-left:-80px
}
.sort-menu1 label {
	position:absolute;
	top:0;
	left:-1px;
	right:-1px;
	z-index:2222;
	display:none;
	background-color:#1b8de6;
	height:2px;
	line-height:0;
	font-size:0;
	zoom:1
}
.sort-menu2, .sort-menu3 {
	line-height:42px
}
.sort-menu2 dt {
	color:#a9a9a9;
	margin-left:-80px!important;
	margin-top: 5px;
}
.sort-menu2 .dd-all {
	margin-left:-72px
}
.sort-menu2 label {
	position:absolute;
	bottom:0;
	width:100%;
	z-index:2;
	background:url('http://9.url.cn/edu/img/courseListV2/menu2_cur_bg.png') center center no-repeat;
	height:10px;
	display:none
}
.sort-menu3 dt {
	color:#AEAEAE
}
.sort-menu3-left {
	display:inline-block;
	float:left;
	height:42px;
	overflow:hidden;
	white-space:nowrap;
	width:156px
}
.sort-nav, .sort-nav-order a, .sort-nav-order dd, .sort-nav-order dt, .sort-nav-sml .sort-nav-order a {
	height:40px;
	line-height:40px
}
.sort-menu3-right {
	display:block;
	width:768px;
	float:right
}
.sort-nav {
	overflow:hidden;
	border-top:none
}
.sort-nav-order-my dd {
	margin-right:4px
}
.sort-nav-order-my dd a {
	padding:0 10px
}
.sort-nav-order dd b {
	margin-top:4px
}
.price-item-my {
	padding-right:26px!important;
	position:relative
}
.price-item-my:after, .price-item-my:before {
	content:"";
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	position:absolute;
	right:8px;
	top:50%
}
.price-item-my:before {
	border-top:5px solid #ccc;
	margin-top:2px
}
.price-item-my:after {
	border-bottom:5px solid #ccc;
	margin-top:-6px
}
.price-item-my.cur:after, .price-item-my.cur:before {
	display:none
}
.date-ctrl {
	margin-top:5px
}
.video-type {
	padding-top:8px;
	padding-right:0;
	margin-left:10px
}
.sort-nav-sml .sort-nav-order a.video-type-item {
	display:block;
	padding:0 10px;
	border:1px solid #ccc;
	background-color:#FFF;
	width:60px;
	margin-right:10px;
	text-align:center;
	float:left;
	cursor:pointer;
	height:26px;
	line-height:26px;
	position:relative
}
.sort-nav-sml .sort-nav-order a.curr_video, .sort-nav-sml .sort-nav-order a.video-type-item:hover {
	border:1px solid #68b30e
}
.sort-nav-sml .sort-nav-order a.curr_video .icon-selected {
	width:17px;
	height:16px;
	background:url('http://9.url.cn/edu/common/img/bg/index-sprite.26cc7.png') -188px -400px no-repeat;
	position:absolute;
	top:0;
	left:0
}
.sort-nav-order {
	float:left
}
.sort-nav-right {
	float:right;
	padding-right:9px
}
.icon-price-unselect {
	display:none
}
.market-list-mod {
	overflow:visible
}
.market-bd-6 .market-list-mod {
	width:944px!important;
	margin-left:-8px
}
.market-bd-6 .mlm-item {
	margin:0 0 28px!important
}
.warn-empty {
	margin-top:270px
}
.course-card {
	padding:0;
	width:220px
}
.course-card:hover {
	background-color:#fff
}
.course-card .course-face a, .course-card .course-face img {
	width:220px
}
.course-card .course-face .course-time {
	background-color:transparent;
	background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, .6), transparent);
	background-image:linear-gradient(to top, rgba(0, 0, 0, .6), transparent);
	width:210px;
	height:20px;
	padding-top:14px;
	padding-left:10px;
	padding-bottom:6px;
	overflow:hidden
}
.course-card .icon-sep {
	width:1px;
	margin:0 10px
}
.course-card .course-emphasis {
	margin-top:4px;
	height:20px;
	overflow:hidden
}
.course-card .course-emphasis .course-num {
	float:left
}
.course-card .course-emphasis .icon-sep {
	float:left;
	width:1px;
	background-color:#ddd;
	background-image:none;
	height:12px;
	line-height:12px;
	margin-top:4px
}
.course-card1, .course-card3 {
	width:220px;
	overflow:hidden
}
.course-card .course-relations {
	margin-top:10px
}
.course-card1 {
	padding:6px 7px!important;
	height:210px;
	border:1px solid #fff;
	border-radius:2px;
	cursor:default
}
.course-card1:hover {
	background-color:#fff;
	border:1px solid #dedede
}
.course-card2 {
	height:180px;
	padding:9px;
	border:1px solid #f7f8f9
}
.course-card2:hover {
	background-color:#f7f8f9;
	border:1px solid #ddd
}
.course-card3 {
	padding:6px 7px!important;
	border:1px solid #fbfbfb;
	border-radius:2px
}
.course-card3:hover {
	border:1px solid #dedede
}
.course-card-nobtn .course-agency {
	margin-top:0;
	padding-left:0;
	width:auto
}
.breadcrumbs-nab {
	display:inline-block
}
.breadcrumbs-nab .mod-breadcrumbs__nav {
	padding:4px 0;
	border:1px dotted transparent
}
.breadcrumbs-nab .mod-breadcrumbs__nav i {
	display:inline-block;
	width:8px;
	height:6px;
	background:url('http://9.url.cn/edu/img/bg/thumb-arrow-down.6de38.png');
	margin-bottom:2px
}
.breadcrumbs-nab .breadcrumbs-list {
	position:absolute;
	border:1px solid #ccc;
	display:none
}
.breadcrumbs-nab:hover .mod-breadcrumbs__nav {
	border:1px dotted transparent
}
.breadcrumbs-nab:hover .mod-breadcrumbs__nav i {
	background:url('http://9.url.cn/edu/img/bg/thumb-arrow-up.7a06a.png')
}
.breadcrumbs-nab:hover .breadcrumbs-list {
	position:absolute;
	z-index:2;
	display:block;
	background:#fff
}
.breadcrumbs-nab:hover .breadcrumbs-list li {
	cursor:pointer
}
.breadcrumbs-nab:hover .breadcrumbs-list li a {
	display:block;
	font-size:12px;
	padding:5px 10px;
	color:#666;
	line-height:26px
}
.breadcrumbs-nab:hover .breadcrumbs-list li:hover {
	background:#eee
}
.disable-dropdown .mod-breadcrumbs__nav i, .disable-dropdown:hover .breadcrumbs-list {
	display:none
}
.mod-list-breadcrumbs {
	margin-bottom:10px;
	line-height:30px
}
.mod-list-breadcrumbs .mod-breadcrumbs__arrow {
	margin:0 5px
}
.mod-list-breadcrumbs .flags-item {
	display:inline-block;
	position:relative;
	height:12px;
	line-height:12px;
	padding:8px 28px 8px 10px;
	margin:0 10px 0 0;
	border:1px dashed #188eee;
	border-radius:1px;
	font-size:12px;
	background:#fff
}
.mod-list-breadcrumbs .flags-item span {
	color:#188eee
}
.mod-list-breadcrumbs .flags-item .flags-close {
	display:block;
	position:absolute;
	right:7px;
	top:5px;
	font-size:18px;
	line-height:1;
	color:#188eee;
	font-weight:700
}
.flags-item-selected span, .flags-item-unselected:hover, .mod-list-breadcrumbs .flags-item:hover span {
	color:#0d8ee4
}
.mod-list-breadcrumbs .flags-item:hover {
	border:1px solid #188eee
}
.mod-list-breadcrumbs .flags-item:hover .flags-close {
	display:block
}
.label-row {
	position:relative;
	overflow:hidden
}
.label-row.show-more {
	height:auto
}
.label-row .sort-menu2 {
	background-color: #D3F7CE;
}
.label-show-more {
	display:none;
	position:absolute;
	top:10px;
	right:15px;
	cursor:pointer
}
.label-show-more i {
	display:inline-block;
	width:8px;
	height:6px;
	background:url('#');
	margin-bottom:2px
}
.label-show-more.open i {
	background:url('#')
}
.flags-item-selected, .flags-item-unselected {
	height:22px;
	line-height:22px;
	background:#fff;
	border:1px solid transparent;
	border-radius:1px;
	padding:0 8px;
	margin:0 15px 5px 0;
	display:inline-block;
	position:relative
}
.flags-item-selected .flags-close, .flags-item-unselected .flags-close {
	display:none;
	position:absolute;
	right:12px;
	top:0;
	margin:6px -8px 0 0;
	width:9px;
	height:9px
}
.flags-item-selected {
	border:1px solid transparent
}
.flags-item-selected .flags-close {
	display:none;
	background:url('') no-repeat
}
.flags-item-selected:hover {
	border:1px solid #7ac7e9
}
.flags-item-selected:hover .flags-close {
	display:block;
	background:url('') no-repeat;
}
/********此处是我开始的*********/
 .flags-item-unselected-js-tag{background-color:rgba(122, 199, 233, 1);border-radius:8px;}
.flags-close-js-close{display:inline-block;
width:20px;height:20px;background-color:gray;
border-radius:10px;text-align:center;
line-height:20px;color:#fff;
} 
/*********结束部分*********************/
